* {
  margin: 0;
  background-color: #0D1117;
  color: #c9d1d9;
  font-family: arial;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 40px 0px;
  display: flex;
  width: 1200px
}

.left-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  margin-right: 25px;
}

.profile-img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: grey solid;
}

.profile-name {
  font-size: 28px;
  font-weight: 600;
  margin-top: 20px;
}

.profile-about {
  margin-top: 10px;
  line-height: 20px;
}

.profile-edit {
  margin-top: 10px;
  border-radius: 5px;
  height: 35px;
  font-weight: 500;
  background-color: #21262D;
  border: none;
  cursor: pointer;
}

.profile-edit:hover {
  background-color: #21222A;
}

.profile-detail {
  margin-top: 12px;
}

.right-panel {
  border: 2px #21262D solid;
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.profile-title {
  font-size: 32px;
  font-weight: 600;
}

hr {
  border-top: 2px solid #21262D;
  border-bottom: none;
  border-right: none;
  border-left: none;
  margin-top: 12px;
}

.profile-more-about {
  margin-top: 12px;
  line-height: 20px;
}

.skills-container {
  margin-top: 12px;
}

.skills-container > p > a > img{
  margin-right: 6px;
}

.title {
  margin-bottom: 10px;
}

.projects-container {
  margin-top: 12px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-panel {
    align-items: center;
    margin-right: 0px;
  }

  .profile-edit {
    width: 100%;
  }

  .profile-about {
    text-align: center;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  .profile-detail-container {
    display: none;
  }

  .profile-name {
    font-size: 18px;
    font-weight: 600;
  }

  .right-panel {
    margin: 20px 20px;
  }
}
